<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <h3>User Information</h3>
    <table class="table table-hover">
      <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
          </tr>
        </form>
    </div>
    <div class="col-sm-7 offset-1">
         <tbody>
           {% for i in student_data %}
           <tr>
              <th scope="row">{{i.id}}</th>
              <td>{{i.name}}</td>
              <td>{{i.email}}</td>
              <td>{{i.password}}</td>
            </tr>   
            {% endfor %}
          </tbody>  
        </table>
        <!-- <h3>Count : {{student_data}}</h3> -->

     <!-- <h3>Avg : {{average}}</h3>
     <h3>Avg : {{average.password__avg}}</h3>
     <h3>count : {{count.password__count}}</h3>
     <h3>max : {{max.password__max}}</h3>
     <h3>min : {{min.password__min}}</h3>
     <h3>sum : {{sum.password__sum}}</h3>  -->

           <!-- <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                  <th scope="col">Date</th>
                   <th scope="col">Action</th>
                </tr>
              </form>
          </div>
          <div class="col-sm-7 offset-1">
               <tbody>
                 <tr>
                    <th scope="row">{{student_data.id}}</th>
                    <td>{{student_data.name}}</td>
                    <td>{{student_data.email}}</td>
                    <td>{{student_data.password}}</td>
                    <td>{{student_data.current_date}}</td>
                    <td>
                    </td>
                  </tr>   
                </tbody>  
              </table> -->
</body> 
</html>